




:root{
    --main-radius:5px;
    --main-padding:45px;

}






.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "nav nav nav nav"
                         "sidebar main main main"
                         "sidebar containt1 containt2 containt3"
                         "sidebar footer footer footer";
    grid-gap: 0.2rem;                     
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

}

nav {
    background: #3498db;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#sidebar{
    background: #34495e;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
main{
background:#7f8c8d ;
grid-area: main;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content1{
    background-color:#27ae60 ;
    grid-area: containt1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content2{
    background:#8e44ad ;
    grid-area: containt2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content3{
    background: #d35400;
    grid-area: containt3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
footer{
    background:#f1c40f;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}



@media only screen and (max-width:600px){
    
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "nav"
                             "sidebar"
                             "main"
                             "containt1"
                             "containt2"
                             "containt3"
                             "footer";
    }
}